src/main/mule/mulemunittest.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="9dde5e4a-52b1-48ea-968c-4add5bb5b7c1" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="mulemunittestFlow" doc:id="754a04b3-8991-4511-a606-29e8c9fe4120" >
		<http:listener doc:name="Listener" doc:id="4f59b8d1-a31c-42b3-8a41-a1293afaa269" config-ref="HTTP_Listener_config" path="/munit"/>
		<set-payload value="#[payload]" doc:name="Set Payload" doc:id="05a05ec5-5395-4199-994e-432c677ae480" />
		<logger level="INFO" doc:name="Logger" doc:id="2e0a3a66-a874-4dd0-bdb6-bbbe851dd1bb" />
	</flow>
</mule>
